.week-table-container {
  width: 100%;

  overflow-x: auto;

  border-radius: 18px;

  background: #1d1d1d;
}

.week-table {
  width: 100%;

  table-layout: fixed;

  border-collapse: collapse;
}

/*
    Column sizing
*/

.habit-column {
  width: 150px;
}

.goal-column {
  width: 75px;
}

.day-column {
  width: 75px;

  min-width: 75px;
  max-width: 75px;

  padding: 4px 2px;
}

.total-column {
  width: 80px;
}

.imbalance-column {
  width: 95px;
}

.week-table th,
.week-table td {
  padding: 16px 2px;

  text-align: center;

  color: white;

  overflow: hidden;

  white-space: nowrap;
}

.week-table th {
  font-size: 1rem;

  font-weight: 700;
}

.week-table td {
  font-size: 0.95rem;
}

.week-table tbody tr:hover {
  background: rgba(255, 255, 255, 0.015);
}

.week-table th.current-day-column {
  color: #57b9ff;

  border-bottom: 1px solid #57b9ff;
}

.current-day-column,
.current-day-cell {
  background: rgba(87, 185, 255, 0.08);
}

.current-day-column {
  color: #57b9ff;

  font-weight: 700;
}
