POSTGRES_DB=habit_tracker_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password

SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/habit_tracker_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=your_password

JWT_SECRET=your_jwt_secret_here

REACT_APP_API_URL=http://localhost:8080/api